h1 {
    font-family: Arial;
    font-size: 20px;
    color: red;
    text-align: center;
    Background-color: yellow
}

p {
    font-family: Arial;
    font-size: 16px;
    color: purple;
    text-align: center;
}

.ligne {
    margin-top: 20px
}

.bligne {
    line-height: 20px;
}

.paragraphe {
    font-family: Arial;
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 20px;
}

.aparagraphe {
    font-family: Arial;
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 20px;
}