h1 {
    font-family: Arial;
    font-size: 20px;
    color: red;
    text-align: center;
    Background-color: yellow
}

p {
    font-family: 'Courier New';
    font-size: 12px;
    text-align: justify;
    color: rgb(56, 56, 56);
}

.ligne {
    font-family: Arial;
    font-size: 16px;
    color: purple;
    text-align: center;
    margin-top: 20px
}

.bligne {
    font-family: Arial;
    font-size: 16px;
    color: purple;
    text-align: center;
    line-height: 20px;
}

.paragraphe {
    font-family: Arial;
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 20px;
}

.aparagraphe {
    font-family: Arial;
    font-size: 11px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-indent: 20px;
}

.longpara {
    font-family: Arial;
    font-size: 15px;
    color: blue;
    font-weight: 900;
}


.citalique {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;

    font-style: italic;
    margin-bottom: 20px;
    margin-top: 10px
}


.soustitre {
    color: black;
    text-decoration: underline;
    font-size: 13px;

}

.apetitpara {


    text-indent: 20px;
    margin-bottom: 20px;
    margin-top: 10px
}


.petitpara {}

.tetra {

    font-style: italic;
    text-indent: 10px;
    margin-bottom: 20px;
    margin-top: 10px
}



.derpara {

    font-family: 'Courier New';
    font-size: 12px;
    text-align: justify;
    color: #43b0f8;
    margin-bottom: 20px;
    margin-top: 10px
}